
*{
	margin: 0px;
	padding: 0px;
}

table {
	width: 700px;
	height: 250px;
	margin: 30px auto;
	background: #f9f9f9;
	text-align: left;
	opacity: 0.8;
}

th {
	border-bottom: 1px solid grey;
}

td {
	border-bottom: 1px solid grey;
}
