

table {
	margin: 25px auto;
	width: 760px;
	height: 300px;
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	margin: 0px;
	padding: 10px;
	width: 120px;
	text-align: center;
	font: 30px; 
	font-family: tahoma;
	border: 1px solid black;
}

td {
	margin: 0px;
	padding: 1px;
	width: 120px;
	text-align: center;
	font: 20px bold; 
	font-family: tahoma;
	border: 1px solid black;
}

.drink{
	width: 160px;
}

.man{
    width: 760px;
}

.namedrink{
	height: 50px;
	text-align: left;
}